label, input[type='text'], input[type='submit'] {
  display: block;
}
label {
  margin-bottom: 0.25em;
  margin-top: 1em;
  width: 15em;
}
input[type='text'], input[type='password'] {
  margin-bottom: 1em;
  padding: 1em;
  width: 15em;
}
label.required::after {
  color: red;
  content: '*';
}
input[type='submit'] {
  margin-top: 1em;
  padding: 1em;
  font-size: 1.5em;
}


