.nav {
  margin: 0;
  width: 100%;
}
.nav ul {
  display: block;
  margin: 0 auto;
  padding: 1em 0;
}
.nav li {
  display: inline-block;
  margin-left: 0;
  margin-right: 1em;
}
.nav li a {
  text-decoration: none;
}
.nav li a:hover {
  color: #bbb;
}

.nav ul.menu {
  float: left;
}

.nav ul.user {
  float: right;
}
.clear {
  clear: both;
}
